@import "../libs/bootstrap/_variables.scss";
@import "../libs/bootstrap/_mixins.scss";
@import "../libs/bootstrap/_normalize.scss";
@import "../libs/bootstrap/_grid.scss";
@import "../libs/bootstrap/_utilities.scss";
@import "../libs/bootstrap/_forms.scss";

@import "../libs/magnific/magnific-popup.css";

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  border: 2px dashed #9c835c;
  transition: .3s;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  background-color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  .preview-wrap {
    display: block;
    width: 100%;
    height: 100%;
    img {
      max-width: 90%;
      max-height: 250px;
    }
  }
  input {
    display: none;
  }
}
.file-label {
  color: #df3324;
}

.file-choose {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
