@import "vars";


/*==========  Desktop First  ==========*/

@media (max-width: 1366px) {
  .record-2 {
    width: 100px;
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
  .header {
    padding: 25px 0;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .nav-item {
      &.logo-wrap {
        order: -1;
      }
      &:last-of-type {
        text-align: center;
      }
      &.left {
        margin-top: 10px;
      }
    }
    .nav-link {
      display: block;
      padding: 4px 0;
      &.first {
        margin-right: 0;
      }
      &.last {
        margin-left: 0;
      }
    }
  }

  .skyscraper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ritz-spa,
  .lounge {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .service {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .list {
    margin-bottom: 30px;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .petals-1,
  .petals-2,
  .record-1,
  .vase-1,
  .petals-3,
  .gramophone-1,
  .petals-4,
  .record-2,
  .record-3,
  .petals-bottom-left,
  .petals-center,
  .petals-center-2,
  .petals-right,
  .petals-right-2 {
    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }
  }
  .vase-1 {
    width: 100px;
  }
  .gramophone-1 {
    width: 200px;
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  p {
    padding: 0;
  }
  .res-owner {
    margin-bottom: 30px;
  }
  .parallax-wrapper {
    &:after {
      height: 100px;
      top: 99.9%;
    }
  }
  .head {
    margin-left: 50px;
    .big-letter {
      font-size: 100px;
      left: -100px;
      bottom: 30%;
    }
  }
  .heading {
    &:nth-of-type(2) {
      .big-letter {
        bottom: 50%;
      }
    }
    &:nth-of-type(3) {
      .big-letter {
        bottom: 50%;
      }
    }
  }
  .petals-1 {
    top: -10%;
  }
  .contacts {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
