@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.header {
	padding: 40px 0;
}

.nav-menu {
	display: flex;
	align-items: flex-end;
	font-family: 'GillSans', sans-serif;
	font-weight: 500;
	font-size: 13px;
	.nav-item {
		flex: 0 0 40%;
		&.logo-wrap {
			flex: 0 0 20%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:last-of-type {
			text-align: right;
		}
	}
	.nav-link {
		color: #cdc3b6;
		&:hover {
			text-decoration: underline;
		}
		&.first {
			margin-right: 40px;
		}
		&.last {
			margin-left: 40px;
		}
	}
	.logo-img {
		width: 160px;
	}
}

img {
	display: inline-block;
	max-width: 100%;
}

p {
	margin: 2rem 0;
	padding: 0 60px;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 18px;
	color: #cdc3b6;
	margin-bottom: 35px;
	font-family: 'GillSans', sans-serif;
	//font-weight: 500;
}

.ritz-owner {
	margin-bottom: 30px;
}

.res-owner {
	margin-top: 30px;
	margin-bottom: 60px;
}

.footer {
	background: #1c1c1c;
	color: #fff;
	margin-top: 100px;
	&-title {
		font-size: 18px;
		font-weight: 700;
		border-bottom: 1px solid #fff;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&-bottom {
		padding-top: 20px;
		padding-bottom: 40px;
		font-size: 14px;
	}
	.language-choose {
		text-align: right;
	}
}

.skyscraper {
	margin-top: 40px;
	margin-bottom: 60px;
}

.infrastructure {
	margin-bottom: 10px;
}

.ozen {
	margin-top: 45px;
	margin-bottom: 40px;
}

.half-img {
	margin-bottom: 35px;
}

.half-img-text {
	text-align: left;
	padding: 0;
}

.right-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -35px;
}

.ritz-spa,
.lounge {
	margin-top: 80px;
	margin-bottom: 10px;
}

.service {
	margin-top: 100px;
	margin-bottom: 100px;
}

.list {
	line-height: 1.4;
	padding-left: 17px;
}

.services {
	margin-top: 40px;
	margin-bottom: 40px;
	h2 {
		margin-bottom: 20px;
	}
	p {
		margin-top: 20px;
	}
}

.parallax-wrapper {
	background: #000;
	color: #fff;
}

.heading {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.head {
	font-size: 22px;
	padding: 0 10px;
	max-width: 400px;
	position: relative;
	text-indent: 30px;
	line-height: 1.4;
	.big-letter {
		position: absolute;
		left: -127px;
		bottom: 15%;
		font-family: 'Allyson', sans-serif;
		font-size: 130px;
	}
}

.petals-1,
.petals-2,
.record-1,
.vase-1,
.petals-3,
.gramophone-1,
.petals-4,
.record-2,
.record-3,
.petals-bottom-left,
.petals-center,
.petals-center-2,
.petals-right,
.petals-right-2 {
	position: absolute;
	z-index: 100;
	&.mobile {
		display: none;
	}
}
.petals-1 {
	top: -20%;
	left: -15%;
}
.petals-2 {
	bottom: -30%;
	right: -30%;
}
.record-1 {
	bottom: 10%;
	left: 5%;
}
.vase-1 {
	top: 15%;
	right: 15%;
}
.petals-3 {
	bottom: 0;
	left: -33%;
}
.gramophone-1 {
	bottom: -30px;
	left: -50px;
}
.petals-4 {
	left: -5%;
	bottom: -30%;
}
.record-2 {
	top: 48%;
	right: -3%;
}
.record-3 {
	top: 50%;
	left: 43%;
}
.petals-bottom-left {
	left: 20%;
	bottom: 0;
	width: 400px;
}
.petals-center {
	left: 20%;
	top: 30%;
	width: 600px;
}
.petals-right {
	top: 20%;
	right: -20%;
	width: 600px;
}
.petals-right-2 {
	top: 20%;
	right: 0;
}
.petals-center-2 {
	top: 30%;
	left: 40%;
	width: 400px;
}
.parallax-wrapper {
	position: relative;
	&:after {
		content: '';
		display: block;
		background: linear-gradient(#000, transparent);
		height: 300px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;
	}
}

.button-link {
	display: inline-block;
	padding: 10px 20px;
	background: #cdc3b6;
	border: 0;
	color: #fff;
	font-family: 'GillSans', sans-serif;
	font-weight: 700;
	transition: .3s;
	&:hover {
		text-decoration: none;
		color: #fff;
		opacity: .8;
	}
}

.contacts {
	margin-top: 100px;
	margin-bottom: 100px;
}
.mail,
.phone {
	color: #1c1c1c;
	&:hover {
		color: #1c1c1c;
	}
}

.button {
	cursor: pointer;
}
.input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 7px 5px;
	border: 1px solid #cdc3b6;
}

.button-wrap {
	text-align: center;
	margin-top: 25px;
}
.img-wrap {
	position: relative;
}

@import "media"; // Always at the end
